.main-header--position {
    border-radius: 10px;
}

.main-header--image {
    /* padding: 5px; */
    width: 12rem;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px white;
}